
<div class="container text-center">
    <h1>{{ event.title }}</h1>
    <small>Created by <a href="/users/{{event.createdBy.username}}">{{event.createdBy.username}}</a></small>
    <br>
    <img src="{{event.photoUrl}}-standard." alt="">
    <br>
    {{#ifCond currentUser._id '==' event.createdBy._id}}
        <a href="/events/{{ event._id }}/edit" class="btn btn-success mt-2">Edit Event</a>
        <a href="/events/{{ event._id }}/delete" class="btn btn-danger mt-2">Delete Event</a>
    {{/ifCond}}
    <p class="mt-4">{{ event.description }}</p>
    <p class="mt-4"><b>When: </b>{{ dateFormat event.startTime "dddd, MMMM Do YYYY, h:mm a z" }} to {{ dateFormat event.endTime "dddd, MMMM Do YYYY, h:mm a z" }}</p>
    <p class="mt-4"><b>Where: </b>{{ event.location }}</p>
    <hr>
    <div class="row mt-4">
        <div class="col-sm-6">
            <ul class="list-group-flush">
                <a href="/events/{{ event._id }}/add-attending/{{ currentUser.username }}" class="btn btn-primary mb-2">Attend this Event</a>
                <p>Attending</p>
                {{#each event.attending}}
                    <li class="list-group-item">
                        <a href="/users/{{this.username}}">{{this.username}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="list-group-flush">
                <a href="/events/{{ event._id }}/add-favorite/{{ currentUser.username }}" class="btn btn-primary mb-2">Favorite this Event</a>
                <p>Favorited</p>
                {{#each event.favorited}}
                    <li class="list-group-item">
                        <a href="/users/{{this.username}}">{{this.username}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>