

{{!-- {{posts}} --}}

<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <ul class="list-group">
        {{#each events}}
            <li class="list-group-item">
                <div class="row">
                    {{!-- created by --}}
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                        {{this.createdBy}}
                    </p>
                    {{!-- picture --}}
                    <div class="col-sm-5">
                        <img src="{{this.photoUrl}}-square." alt="">
                    </div>
                    <div class="col-sm-6 offset-sm-1">
                        <h4 class="mt-4">{{this.title}}</h4>
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                            </svg>
                            {{ this.location }}
                        </i>
                        <p class="mt-4">{{this.description}}</p>
                        <small>From {{ dateFormat this.startTime "dddd, MMMM Do YYYY, h:mm a z" }}</small>
                        <br>
                        <small>To {{ dateFormat this.endTime "dddd, MMMM Do YYYY, h:mm a z" }}</small>
                        <br>
                        <a href="/events/{{ this._id }}">See More...</a>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-2">
                            <p>{{ this.attending.length }} Attending</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{ this.favorited.length }} Favorited</p>
                        </div>
                    </div>
                    
                </div>
            </li>
        {{/each}}
    </ul>
  </div>
</div>
